@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {margin:0;padding:0;box-sizing:border-box}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    font-family: 'Poppins';
    position: relative;
}

body::-webkit-scrollbar {
    background: #c5c5c5;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 15px;
}

header {
    position: relative;
    min-height: 100vh;
}

header .first-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.first-word, 
.first-lore, 
.expand_more--icon {
    opacity: 0;
}

.active-x-opacity-effect {
    animation: opacity-effect 1s;
    opacity: 1;
}

.active-expand_more--icon {
    margin-top: 10px;
    opacity: 1;
    animation: opacity-effect 1s, shake 1s infinite alternate-reverse;
}

.a_links {
    display: inline-block;
    position: relative;
    transition: color 200ms;
}

.a_links::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background: black;
    transition: width 1s;
}

.a_links.active-a_links-effect::before {
    width: 100%;
}

.a_links:hover {
    color: #4d4d4d
}

.material-icons {
    user-select: none;
}

@keyframes opacity-effect {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes shake {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(5px);
    }
}

/* 
    Navbar
*/

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    text-align: center;
    padding: 10px;
    opacity: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 500ms;
}

.active-navbar {
    opacity: 1;
    animation: navbarEffect 1s;
}

@keyframes navbarEffect {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

nav a {
    text-decoration: none;
    margin: 25px;
    color: #0D0D0D;
    transition: color 200ms;
}

nav a:hover {
    color: #5f5f5f;
}

/*
    Main content
*/

a {
    text-decoration: none;
    color: #0D0D0D;
}

main h2 {
    margin-top: 20px;
    font-size:  32px !important;
}

main {
    min-height: 100vh;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

main h2 {
    text-align: center;
    font-size: 64px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

main .languages {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

main .languages section {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

main .languages section h3 {
    text-align: center;
}

main section p {
    text-align: center;
    width: 100%;
}

main section img {
    width: 100%;
    max-width: 64px;
}

.active-main {
    opacity: 1;
    animation: opacity-effect 1s;
}

nav.active-navbar-color {
    background-color: #fcfcfc;
    transition: background-color 500ms;
}

.alert {
    opacity: 0; 
    position: fixed; 
    bottom: 0; 
    text-align: center; 
    padding: 10px; 
}

.active-alert {
    opacity: 1;
    animation: opacity-effect 200ms;
}

.alert-remove {
    opacity: 0;
    animation: fadeOutEffect 1s;
}

@keyframes fadeOutEffect {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

h3 {
    position: relative;
}

.abbr::after {
    content: attr(data-abbr);
    position: absolute;
    padding: 10px;
    opacity: 0;
    bottom: 0;
    right: 50%;
    font-size: 15px;
    font-weight: normal;
    background: black;
    color: white;
    transition: 200ms opacity;
}

.abbr:hover::after {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 1000px) {

    main div {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    main h2 {
        margin-top: 50px;
        font-size: 32px;
    }

    main h4 {
        font-size: 12px;
    }

    main section h3 {
        display: flex;
        justify-content: center;
    }

    .tools {
        display: block !important;
        margin: 0 !important;
    }

    .tools section {
        display: flex;
        flex-direction: column;
        margin: 50px !important;
    }

    .tools p {
        display: flex;
        justify-content: center;
    }

    .abbr::after {
        bottom: 35px;
        left: -1px;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    main h2 {
        font-size: 20px !important;
    }
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 20vh;
    margin-left: 50px;
}

.tools section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.tools .item-lore {
    margin: 0 25px;
    width: 100%;
    max-width: 500px;
}