@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {margin:0;padding:0;box-sizing:border-box}

body {
    font-family: 'Poppins';
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.first-word, 
.first-lore, 
.expand_more--icon {
    opacity: 0;
}

.active-first-word {
    animation: opacity-effect 1s;
    opacity: 1;
}

.active-first-lore {
    opacity: 1;
    animation: opacity-effect 1s;
}

.active-expand_more--icon {
    margin-top: 10px;
    opacity: 1;
    animation: opacity-effect 1s, shake 1s infinite alternate-reverse;
}

@keyframes opacity-effect {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes shake {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(5px);
    }
}