@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {margin:0;padding:0;box-sizing:border-box}

:root {
    font-size: 17px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    font-family: 'Poppins';
    position: relative;
}

body::-webkit-scrollbar {
    background: #c5c5c5;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 15px;
}

header {
    position: relative;
    min-height: 100vh;
}

header .first-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.first-word, 
.first-lore, 
.see_more--icon {
    opacity: 0;
}

.see_more--icon {
    cursor: pointer;
}

.active-x-opacity-effect {
    animation: opacity-effect 1s;
    opacity: 1;
}

.active-see_more--icon {
    margin-top: 10px;
    opacity: 1;
    animation: opacity-effect 1s, shake 1s infinite alternate-reverse;
}

.a_links {
    display: inline;
    position: relative;
    transition: color 200ms;
}

.a_links::before {
    content: "";
    display: inline;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #0D0D0D;
    transition: width 1s;
}

.a_links.active-a_links-effect::before {
    width: 100%;
}

.a_links:hover {
    color: #4d4d4d
}

.material-icons {
    user-select: none;
}

@keyframes opacity-effect {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes shake {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(5px);
    }
}

/* 
    Navbar
*/

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    text-align: center;
    padding: 10px;
    opacity: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 500ms;
}

.active-navbar {
    opacity: 1;
    animation: navbarEffect 1s;
}

.country-languages {
    position: absolute;
    right: 25px;
    top: 10px;
}

.country-languages img {
    cursor: pointer;
} 

.country-languages span {
    font-size: .85rem;
}

@keyframes navbarEffect {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

nav a {
    text-decoration: none;
    color: #0D0D0D;
    transition: color 200ms;
    padding: 0 25px;
}

nav a:hover {
    color: #5f5f5f;
}

nav a:nth-child(3):hover {
    color: #ff0000;
}


/*
    Main content
*/

a {
    text-decoration: none;
    color: #0D0D0D;
}

main h2 {
    margin-top: 20px;
    font-size:  32px !important;
}

main {
    min-height: 100vh;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

main h2 {
    text-align: center;
    font-size: 64px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

main .languages,
main .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

main .languages section,
main .tools section {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

main .languages section h3,
main .tools section h3 {
    text-align: center;
}

main section p {
    text-align: center;
    width: 100%;
}

main section img {
    width: 100%;
    max-width: 64px;
}

.active-main {
    opacity: 1;
    animation: opacity-effect 1s;
}

nav.active-navbar-backgroundcolor {
    background-color: #fcfcfc;
    transition: background-color 200ms;
}

.alert {
    opacity: 0; 
    position: fixed; 
    bottom: 0; 
    text-align: center; 
    padding: 10px; 
}

.active-alert {
    opacity: 1;
    animation: opacity-effect 200ms;
}

.alert-remove {
    opacity: 0;
    animation: fadeOutEffect 1s;
}

footer small {
    font-size: .6rem;
}

@keyframes fadeOutEffect {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

h3 {
    position: relative;
}

@media screen and (max-width: 1000px) {

    main div {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    main h2 {
        margin-top: 50px;
        font-size: 32px;
    }

    main h4 {
        font-size: 12px;
    }

    main section h3 {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {

    main h2 {
        font-size: 20px !important;
    }

    .a_links {
        display: inline;
        text-decoration: 1px underline solid #0D0D0D;
    }

    .a_links::before {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    nav a {
        padding: 2px 0;
        display: block;
        font-size: .91rem;
    }

    nav .country-languages {
        position: static;
    }

    .country-languages span {
        font-size: .7rem;
    }
    
    .country-languages img {
        width: 16px;
    }

    .principal-section {
        font-size: .8rem;
    }

    main {
        margin: 10px;
    }

    main h2 {
        font-size: .8rem !important;
    }

    main .languages,
    main .tools {
        font-size: .7rem;
        word-break: break-all;
    }
}

@media screen and (max-width: 200px) {
    nav .country-languages {
        display: none;
    }

    footer {
        font-size: .8rem;
    }

    /* footer a {
        text-decoration: underline black;
    } */
    
    footer small {
        font-size: .6rem;
        display: block;
        padding: 15px 0;
    }
}
